.app {
  nav {
    background: rgb(255, 75, 31);
    position: fixed;
    width: 100%;
    .container {
      padding: 0;
      h1 {
        padding: 30px;
        color: #fff;
        display: inline-block;
        background: rgba(#fff, 0.4);
      }
    }
  }
  .container {
    max-width: 1000px;
    padding: 50px 0;
    margin: auto;
    width: 95%;
    .slots {
      margin-top: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      .slot {
        cursor: pointer;
        border-radius: 5px;
        width: 22%;
        background-color: #fff;
        border: 2px solid rgb(255, 75, 31);
        text-align: center;
        padding: 25px 0;
        color: rgb(255, 75, 31);
        font-size: 1.5rem;
        margin-bottom: 30px;
        .wrap {
          text-transform: uppercase;
        }
      }
      .booked {
        background: rgb(255, 75, 31);
        color: #fff;
      }
    }
    .form-main {
      top: 0;
      left: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      z-index: 5;
      .content {
        width: 90%;
        max-width: 1000px;
        position: absolute;
        border-radius: 5px;
        top: 50%;
        left: 50%;
        background: #fff;
        transform: translate(-50%, -50%);
        h2 {
          padding: 30px;
          color: grey;
          border-bottom: 1px solid #ccc;
        }
        .main-form {
          padding: 50px;
          .field {
            margin-bottom: 30px;
            label {
              display: block;
              margin-bottom: 15px;
              color: grey;
              font-weight: bold;
            }
            input {
              padding: 15px;
              border: 1px solid #ccc;
              width: 100%;
              border-radius: 5px;
            }
            .err {
              margin-top: 8px !important;
              display: block;
              color: rgb(255, 75, 31);
            }
          }
          .decision-makers {
            button {
              width: 100%;
              padding: 15px;
              margin-bottom: 15px;
              border: none;
              font-size: 1rem;
              background: rgb(255, 75, 31);
              color: #fff;
              font-weight: bold;
              border-radius: 5px;
              cursor: pointer;
            }
            .fail {
              background: #fff;
              color: rgb(255, 75, 31);
              border: 1px solid rgb(255, 75, 31);
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #eee;
    h4 {
      text-align: left;
      text-transform: uppercase;
      font-size: 0.9rem;
      color: grey;
      span {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 800px) {
  .app {
    nav {
      .container {
        width: 100%;
      }
    }
  }
}

@media (max-width: 700px) {
  .app {
    .container {
      .slots {
        .slot {
          width: 31%;
        }
      }
      .form-main {
        .content {
          min-height: 100%;
          width: 100%;
          h2 {
            padding: 15px;
            font-size: 1.5rem;
          }
          .main-form {
            padding: 20px;
            .field {
              margin-bottom: 20px;
              label {
                margin-bottom: 10px;
              }
              input {
                padding: 15px;
              }
              .err {
                margin-top: 5px;
                display: block;
                color: rgb(255, 75, 31);
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .app {
    nav {
      .container {
        h1 {
          padding: 15px;
          font-size: 1.2rem;
        }
      }
    }
    .container {
      .slots {
        margin-top: 45px;
        .slot {
          width: 48%;
          padding: 15px 0;
          font-size: 1rem;
        }
      }
    }
    footer {
      .container {
        padding: 20px 0;
        .text {
          font-size: 0.7rem;
        }
      }
    }
  }
}
